body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.cor {
    width: 200px;
    height: 150px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
}

#cor1 {
    background-color: #6A5ACD;
}

#cor2 {
    background-color: #0000CD;
}

#cor3 {
    background-color: #87CEEB;
}

#cor4 {
    background-color: #40E0D0;
}

#cor5 {
    background-color: #008080;
}

#cor6 {
    background-color: #2F4F4F;
}

#cor7 {
    background-color: #006400;
}

#cor8 {
    background-color: #BC8F8F;
}

#cor9 {
    background-color: #4B0082;
}

#cor10 {
    background-color: #FF00FF;
}

#cor11 {
    background-color: #FF1493;
}

#cor12 {
    background-color: #DC143C;
}

#cor13 {
    background-color: #FF4500;
}

#cor14 {
    background-color: #A0522D;
}

#cor15 {
    background-color: #808000;
}

#cor16 {
    background-color: #48D1CC;
}

#cor17 {
    background-color: #00FFFF;
}

#cor18 {
    background-color: #708090;
}

#cor19 {
    background-color: #4682B4;
}

#cor20 {
    background-color: #4169E1;
}
